* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://t4.ftcdn.net/jpg/02/90/04/01/360_F_290040196_SNxztMV03pDmXS3vFQzoebXFUVNwfawx.jpg");
}

header {
  background-color: rgba(2, 2, 43, 0.919);
  margin-top: 4px;
  padding: 10px;
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  font-size: 50px;
  letter-spacing: 3px;
  border: 1px solid rgb(247, 0, 255);
  text-align: center;
}